.carta {
  width: 100px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  position: relative;
}

@media (min-width: 1024px) {
  .carta, .foto-carta, .parte-trasera {
    width: 100px;
    height: 150px;
  }
}

@media (max-width: 1023px) {
  .carta, .foto-carta, .parte-trasera {
    width: 75px;
    height: 125px;
  }
}

@media (max-width: 768px) {
  .carta, .foto-carta, .parte-trasera {
    width: 75px;
    height: 125px;
  }
}

@media (max-width: 480px) {
  .carta, .foto-carta, .parte-trasera {
    width: 75px;
    height: 125px;
  }
}


.carta.girada {
  transform: rotateY(360deg);
}
