.carta {
  width: 100px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
  will-change: transform;
  //backface-visibility: hidden;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  position: relative;
}

@media (min-width: 1024px) {
  .carta, .foto-carta, .parte-trasera {
    width: 100px;
    height: 150px;
  }
}

@media (max-width: 1023px) {
  .carta, .foto-carta, .parte-trasera {
    width: 75px;
    height: 125px;
  }
}

@media (max-width: 768px) {
  .carta, .foto-carta, .parte-trasera {
    width: 50px;
    height: 100px;
  }
}

@media (max-width: 480px) {
  .carta, .foto-carta, .parte-trasera {
    width: 50px;
    height: 100px;
  }
}

.parte-trasera {
  transform: rotateY(0deg);
}

.foto-carta {
  transform: rotateY(180deg);
}

.visible {
  opacity: 1;
}

.oculto {
  opacity: 0;
  transform: scale(0);
}
