<h1 class="h1">JAGO'S SALOON</h1>

<div class="contenedor-botones-dificultad" *ngIf="!dificultadElegida">
  <div class="botones-dificultad">
    <button class="btn btn-primary" (click)="elegirDificultad('facil')">Fçcil</button>
    <button class="btn btn-primary" (click)="elegirDificultad('intermedio')">Intermedio</button>
    <button class="btn btn-primary" (click)="elegirDificultad('dificil')">Difêcil</button>
  </div>
</div>


<app-carta *ngFor="let carta of cartas" [carta]="carta" (cartaGirada)="girarYcomprobarCarta(carta)"></app-carta>

<div class="cronometro" *ngIf="dificultadElegida && !finPartida">
  <span class="reloj">⏳</span> Tiempo: {{ formatearTiempo(cronometro) }}
</div>

<div *ngIf="finPartida" class="fin-partida">
  <h2>¡ENHORABUENA, JUEGO COMPLETADO!</h2>
  <div class="contenedor-boton-jugar-de-nuevo">
    <button class="btn btn-primary jugar-de-nuevo" (click)="jugarDeNuevo()"> Jugar otra vez</button>
  </div>
</div>

