<h1 class="h1">JAGO'S SALOON</h1>

<div class="contenedor-botones-dificultad" *ngIf="!dificultadElegida">
  <div class="botones-dificultad">
    <button class="btn btn-primary" (click)="elegirDificultad('facil')">Fçcil</button>
    <button class="btn btn-primary" (click)="elegirDificultad('intermedio')">Intermedio</button>
    <button class="btn btn-primary" (click)="elegirDificultad('dificil')">Difêcil</button>
  </div>
</div>


<app-carta *ngFor="let carta of cartas" [carta]="carta" (cartaGirada)="girarYcomprobarCarta(carta)"></app-carta>

