@font-face {
  font-family: 'SaloonExtTh';
  src: url('/assets/fonts/SaloonExtTh.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'SaloonExtTh', sans-serif;
}



.botones-dificultad {
  display: flex;
  gap: 10px;
}

button {
  font-size: 16px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ddd;
}

.contenedor-botones-dificultad {
  display: flex;
  justify-content: center;
  align-items: center;
}


.h1, h2, h3 {
  text-align: center;
  margin-top: 1em;
  color: #FFD700;
}

.h1 {
  margin-bottom: 2em;
}


.contenedor-boton-jugar-de-nuevo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cronometro {
  text-align: center;
  font-size: 24px;
}

@keyframes girar { /*Crear el giro de 360 grados del reloj*/
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.reloj {
  display: inline-block;
  font-size: 24px;
  animation: girar 1s linear infinite;
}


.prueba {
  position: fixed;
}

h3 {
  margin-bottom: 1em;
}


table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 100%;
  margin: 1em 0;
  font-size: 1em;
  background-color: rgba(0, 100, 0, 0.8) !important;
  border-radius: 8px;
  padding: 10px;
  color: white;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f4f4f4;
  font-weight: bold;
}

th, td {
  border-bottom: 2px solid #ffffff30;
}


@media (max-width: 768px) {
  table {
    font-size: 0.9em;
  }
}

tr:hover {
  background-color: #f9f9f9;
}

table {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tablero {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 15px;
  justify-content: center;
  margin: 0 auto;
}

.tablero.dificil {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 10px;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

.carta {
  flex: 0 1 calc(33.33% - 10px);
  max-width: 120px;
}

.contenedor-principal {
  background-color: #007f00;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  //height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 1em;
}

i {
  margin-right: 0.5em;
}
