/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'SaloonExtTh';
  src: url('./assets/fonts/SaloonExtTh.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SaloonExtTh', sans-serif;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #008000 !important; /* Verde más claro en filas alternas */
}

:root {
  --fondo-tabla: #006400; /* Verde tapete */
  --texto-tabla: white;
  --borde-tabla: #FFD700; /* Dorado */
}

.table {
  background-color: var(--fondo-tabla) !important;
  color: var(--texto-tabla) !important;
  border: 2px solid var(--borde-tabla) !important;
}

.table th {
  background-color: #008000 !important;
  color: var(--texto-tabla) !important;
  border: 2px solid var(--borde-tabla) !important;

}
.table td {
  background-color: #008000 !important;
  color: var(--texto-tabla) !important;
  border: 2px solid var(--borde-tabla) !important;

}

